#third-table, th, td {
    border: 1px solid black;
    text-align: center;
}

.mini-table {
    border: 1px solid black;
    width: 100%;
}


.yellow {
    background: #d9d9af;
}

.green {
    background: #a1c9a1;
}

.purple {
    background: #cdceff;
}